@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 200;
    src: url('./LabGrotesque/LabGrotesque-Light.eot');
    src: local('Lab Grotesque Light'),
         local('LabGrotesque-Light'),
         url('./LabGrotesque/LabGrotesque-Light.eot') format('embedded-opentype'),
         url('./LabGrotesque/LabGrotesque-Light.woff2') format('woff2'),
         url('./LabGrotesque/LabGrotesque-Light.woff') format('woff');
}

@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('./LabGrotesque/LabGrotesque-Regular.eot');
    src: local('Lab Grotesque Regular'),
         local('LabGrotesque-Regular'),
         url('./LabGrotesque/LabGrotesque-Regular.eot') format('embedded-opentype'),
         url('./LabGrotesque/LabGrotesque-Regular.woff2') format('woff2'),
         url('./LabGrotesque/LabGrotesque-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('./LabGrotesque/LabGrotesque-Medium.eot');
    src: local('Lab Grotesque Medium'),
         local('LabGrotesque-Medium'),
         url('./LabGrotesque/LabGrotesque-Medium.eot') format('embedded-opentype'),
         url('./LabGrotesque/LabGrotesque-Medium.woff2') format('woff2'),
         url('./LabGrotesque/LabGrotesque-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('./LabGrotesque/LabGrotesque-Bold.eot');
    src: local('Lab Grotesque Bold'),
         local('LabGrotesque-Bold'),
         url('./LabGrotesque/LabGrotesque-Bold.eot') format('embedded-opentype'),
         url('./LabGrotesque/LabGrotesque-Bold.woff2') format('woff2'),
         url('./LabGrotesque/LabGrotesque-Bold.woff') format('woff');
}
