@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/LabGrotesque-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/LabGrotesque-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/LabGrotesque-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
